<!-- Employees received and given feedbacks will be shown here. -->
<div class="container">
  <div class="row mt-4 d-flex justify-content-between">
    <!-- Notifications -->
    <% if (notification) { %>
    <div
      id="notification"
      class="alert alert-success alert-dismissible fade show m-2"
      role="alert"
    >
      <%= notification %>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <script>
      // Auto dismiss the alert after 5 seconds
      setTimeout(function () {
        const alert = document.getElementById("notification");
        const bsAlert = new bootstrap.Alert(alert);
        bsAlert.close();
      }, 5000);
    </script>
    <% } %>
    <!--  -->
    <!-- Section for received feedbacks -->
    <div class="col-md-5">
      <!-- Heading for received feedbacks -->
      <div class="">
        <h1 class="bg-dark text-white mt-2 p-2">Received Feedbacks</h1>
      </div>
      <% if (receivedFeedbacks.length > 0) { %> <%
      receivedFeedbacks.forEach(function(feedback) { %>
      <div class="card border-info shadow mb-4">
        <!-- Card content for received feedbacks -->
        <div class="card-header bg-primary text-white">
          <i class="fa-solid fa-user-tie me-2 fa-lg"></i> Sender : <%=
          feedback.sender.name %>
          <i class="fa-solid fa-arrow-right me-2 fa-lg"></i> To Me
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa-solid fa-comment-dots me-2 text-info"></i> Feedback
          </h5>
          <p class="card-text"><%= feedback.feedback %></p>
        </div>
      </div>
      <% }) %> <% } else { %>
      <!-- If no received feedbacks -->
      <div class="card border-info shadow">
        <div class="card-body">
          <h5 class="card-title text-center">No Received Feedbacks</h5>
        </div>
      </div>
      <% } %>
    </div>

    <!-- Section for given feedbacks -->
    <div class="col-md-5">
      <!-- Heading for given feedbacks -->
      <div class="">
        <h1 class="bg-dark text-white mt-2 p-2">Given Feedbacks</h1>
      </div>
      <% if (givenFeedbacks.length > 0) { %> <%
      givenFeedbacks.forEach(function(feedback) { %>
      <div class="card border-info shadow mb-4">
        <!-- Card content for given feedbacks -->
        <div class="card-header bg-success text-white">
          <i class="fa-solid fa-user-tie me-2 fa-lg"></i> By Me 
          <i class="fa-solid fa-arrow-right me-2 fa-lg"></i> To : <%=
          feedback.receiver.name %>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <i class="fa-solid fa-comment-dots me-2 text-info"></i> Feedback
          </h5>
          <p class="card-text"><%= feedback.feedback %></p>
        </div>
        <!-- Update feedbacks by the admin only -->
        <% if(employee.role == 'Admin'){ %>
        <div class="card-footer">
          <a data-bs-toggle="modal" data-bs-target="#updateFeedbackModal"
            ><i class="fa-solid fa-file-pen fa-lg text-primary"></i
          ></a>

          <!-- Modal to update feedback of admin -->
          <div class="modal" tabindex="-1" id="updateFeedbackModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title"><%= feedback.receiver.name %></h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <!-- Form to submit assigned feedback for other employees -->
                  <form
                    action="/api/feedback/<%= feedback._id %>/update"
                    method="post"
                  >
                    <div class="mb-3">
                      <label for="feedback" class="form-label text-secondary"
                        >Your Feedback</label
                      >
                      <textarea
                        class="form-control bg-light"
                        id="feedback"
                        name="feedback"
                        rows="3"
                        required
                      >
<%= feedback.feedback %></textarea
                      >
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Update Feedback
                    </button>
                  </form>
                  <!-- Form ends here -->
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!-- Modal to update feedback of admin ends here -->
        </div>
        <% } %>
        <!-- Update feedbacks by the admin only ends here-->
      </div>
      <% }) %> <% } else { %>
      <!-- If no given feedbacks -->
      <div class="card border-info shadow">
        <div class="card-body">
          <h5 class="card-title text-center">No Given Feedbacks</h5>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>
